$button-font-family: $font-family;
$button-font-weight: 500;

$button-small-font-size: 12px;
$button-medium-font-size: 14px;
$button-large-font-size: 14px;

$button-small-min-width: $space-52;
$button-small-height: $space-24;

$button-medium-min-width: $space-88;
$button-medium-height: $space-36;

$button-large-min-width: $space-88;
$button-large-height: $space-48;

$button-letter-spacing: 1px;

$button-margin: $space-8;
$button-padding: 0 $space-16;

$button-min-width: $space-88;
$button-height: $space-36;

$button-border-radius: 4px;
$button-transition: 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);

$button-text-decoration: none;
$button-hover-text-decoration: none;
$button-text-transform: uppercase;

$button-disabled-background: #000;
$button-disabled-color: #000;

$button-outlined-border-width: 0.2rem;

$button-color-variations: (
  'default': (
    'bg': var(--brand-default),
    'color': var(--brand-text-color-inverse),
    'hover-color': var(--brand-text-color-inverse),
    'border': $button-outlined-border-width solid var(--brand-default),
  ),
  'primary': (
    'bg': var(--brand-primary),
    'color': var(--button-color),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-primary),
  ),
  'secondary': (
    'bg': var(--brand-secondary),
    'color': var(--button-color),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-secondary),
  ),
  'success': (
    'bg': var(--brand-success),
    'color': var(--button-color),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-success),
  ),
  'warning': (
    'bg': var(--brand-warning),
    'color': var(--button-color),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-warning),
  ),
  'danger': (
    'bg': var(--brand-danger),
    'color': var(--button-color),
    'hover-color': var(--button-color),
    'border': $button-outlined-border-width solid var(--brand-danger),
  ),
);