@import '../../design/design-system';

.header, .footer {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $space-24;

  @include mediaMax('phone') {
    padding: 0 $space-8;
  }
}

.header {
  box-shadow: 0 0 6px 0 rgba(#000, 0.5);
}

.footer {
  border-top: 1px solid rgba(#000, 0.25);
}

.footerLogo {
  font-size: $font-size;
  font-weight: $font-weight-light;

}

.logo {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;

  text-decoration: none;
}

.menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.menuItem {
  font-size: $font-size;
  font-weight: $font-weight-regular;

  margin: 0 $space-8;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  min-height: calc(100vh - 120px);

  padding: $space-24;

  @include mediaMax('phone') {
    padding: $space-8;
  }
}