.overlay {
  display: flex;

  align-items: center;
  justify-content: center;

  flex: 1;

  width: 100%;
  height: 100%;
}

.overlayFullHeight {
  height: 100vh;
}

.loader {
  --matter-helper-theme: 33, 150, 243;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0.25em;
  width: 3em;
  height: 3em;
  color: RGB(var(--matter-helper-theme));
  background-color: transparent;
  font-size: 16px;
  overflow: hidden;
}

.loader::-webkit-progress-bar {
  background-color: transparent;
}

/* Indeterminate */
.loader:indeterminate {
  animation: loader 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang, .loader:indeterminate {
  animation: none;
}

.loader:indeterminate::before,
.loader:indeterminate::-webkit-progress-value {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: solid 0.25em currentColor;
  border-radius: 50%;
  width: 100% !important;
  height: 100%;
  background-color: transparent;
  -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  animation: loader-pseudo 0.75s infinite linear alternate;
  animation-play-state: inherit;
  animation-delay: inherit;
}

.loader:indeterminate::-moz-progress-bar {
  box-sizing: border-box;
  border: solid 0.25em currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  animation: loader-pseudo 0.75s infinite linear alternate;
  animation-play-state: inherit;
  animation-delay: inherit;
}

.loader:indeterminate::-ms-fill {
  animation-name: -ms-ring;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }
  12.5% {
      transform: rotate(180deg);
      animation-timing-function: linear;
  }
  25% {
      transform: rotate(630deg);
  }
  37.5% {
      transform: rotate(810deg);
      animation-timing-function: linear;
  }
  50% {
      transform: rotate(1260deg);
  }
  62.5% {
      transform: rotate(1440deg);
      animation-timing-function: linear;
  }
  75% {
      transform: rotate(1890deg);
  }
  87.5% {
      transform: rotate(2070deg);
      animation-timing-function: linear;
  }
  100% {
      transform: rotate(2520deg);
  }
}

@keyframes loader-pseudo {
  0% {
      -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
      clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
  }
  18% {
      -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
      clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  53% {
      -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
      clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  88% {
      -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
      clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
      -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
      clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
  }
}