@import '../../design/design-system';

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: $button-height;
  min-width: $button-min-width;

  margin: $button-margin;
  padding: $button-padding;

  text-align: center;
  vertical-align: middle;

  font-family: $button-font-family;
  font-size: $button-medium-font-size;
  font-weight: $button-font-weight;

  letter-spacing: $button-letter-spacing;

  border: 0;
  border-radius: $button-border-radius;

  color: var(--button-color);
  background-color: var(--brand-primary);

  text-decoration: $button-text-decoration;
  text-transform: $button-text-transform;

  -webkit-tap-highlight-color: transparent;

  outline: 0;

  appearance: none;

  touch-action: manipulation;
  user-select: none;
  cursor: pointer;

  transition: background-color $button-transition;

  &.small {
    font-size: 12px;
    
    height: $button-small-height;
    min-width: $button-small-min-width;
  }

  &.medium {
    font-size: $button-medium-font-size;
    
    height: $button-medium-height;
    min-width: $button-medium-min-width;
  }

  &.large {
    font-size: $button-medium-font-size;
    
    height: $button-large-height;
    min-width: $button-large-min-width;
  }

  &:hover:before {
    opacity: 0.08;
  }

  &:focus:before {
    opacity: 0.24;
  }

  &:active:before {
    opacity: 0.32;
  }

  &:disabled,
  &.disabled {
    background-color: #CDCDCD;
  }
}

@each $variation, $values in $button-color-variations {
  .#{$variation} {
    color: map-get($values, 'color');

    background-color: map-get($values, 'bg');

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      border-radius: inherit;
      
      opacity: 0;

      background-color: #ffffff;

      transition: opacity $button-transition;
    }
  }
}

@each $variation, $values in $button-color-variations {
  .#{$variation}.outlined {
    color: map-get($values, 'bg');

    background-color: transparent;

    border: map-get($values, 'border');

    &:before {
      background-color: currentColor;
    }

    &:disabled,
    &.disabled {
      border-color: #CDCDCD;
    }
  }
}

@each $variation, $values in $button-color-variations {
  .#{$variation}.flat {
    color: map-get($values, 'bg');

    background-color: transparent;

    &:before {
      background-color: currentColor;
    }
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
.button:disabled,
.button.disabled {
  cursor: not-allowed;

  color: #8E8E8E;

  &:before {
    opacity: 0;
  }
}