@import '../../design/design-system';

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: $button-height;
  min-width: $button-min-width;

  margin: $button-margin;
  padding: $button-padding;

  text-align: center;
  vertical-align: middle;

  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  border: 0;
  border-radius: $button-border-radius;

  color: var(--button-color);
  background-color: var(--brand-primary);

  text-decoration: $button-text-decoration;
  text-transform: $button-text-transform;

  -webkit-tap-highlight-color: transparent;

  outline: 0;

  appearance: none;

  touch-action: manipulation;
  user-select: none;
  cursor: pointer;

  transition: background-color $button-transition;

  &:disabled,
  &.disabled {
    opacity: $button-disabled-opacity;
    cursor: not-allowed;
  }
}

@each $variation, $values in $button-variations {
  .#{$variation} {
    background: map-get($values, 'bg');

    &:hover {
      background: map-get($values, 'hover-bg');
    }

    &:focus {
      background: map-get($values, 'hover-bg');
    }

    &:active {
      background: map-get($values, 'active-bg');
    }
  }
}