@import '../../design/design-system';

.root {
  background-color: var(--brand-bg-color);
  color: var(--brand-text-color);
  transition: box-shadow 0.25s ease;
}

/* Styles applied to the root element if `square={false}`. */
.rounded {
  border-radius: 4px;
}

@each $num, $elevation in $elevations {
  .elevation#{$num} {
    box-shadow: $elevation;
  }
}