.app.theme--light {
  /* Brand Variations */
  --brand-default: #{palette-color-level('grey', 70)};
  --brand-primary: #{palette-color('primary')};
  --brand-secondary: #{palette-color('secondary')};
  --brand-success: #{palette-color('success')};
  --brand-warning: #{palette-color('warning')};
  --brand-danger: #{palette-color('danger')};

  /* Background Colors */
  --brand-bg-color: #{palette-color-level('grey', 10)};
  --brand-bg-color-variant: #{palette-color-level('grey', 20)};
  --brand-bg-color-inverse: #{palette-color-level('grey', 100)};
  --brand-bg-color-variant-inverse: #{palette-color-level('grey', 80)};

  /* Text Colors */
  --brand-text-color: #{palette-color-level('grey', 100)};
  --brand-text-secondary-color: #{palette-color-level('grey', 60)};
  --brand-text-color-inverse: #{palette-color-level('grey', 10)};
  --brand-text-secondary-color-inverse: #{palette-color-level('grey', 30)};

  /* Link Color */
  --brand-link-color: #{palette-color-level('blue', 70)};
  --brand-link-hover-color: #{palette-color-level('blue', 70)};

  /* Border Colors */
  --brand-border-color: #{palette-color-level('grey', 30)};
  --brand-border-color-inverse: #{palette-color-level('grey', 60)};
}