@import '../../design/design-system';

.content {
  display: flex;

  flex-direction: column;
  
  align-items: center;
  justify-content: center;

  flex: 1;
}

.counter {
  display: flex;

  align-items: center;
}

.count {
  font-size: $font-size-h3;
  
  line-height: $line-height-h3;
}

.info {
  margin-top: $space-16;

  font-size: $font-size;

  line-height: $line-height;

  color: var(--brand-text-secondary-color)
}