@import 'mixins';
@import 'variables';

@import 'theme/light';
@import 'theme/dark';

/* Themes for components */
@import 'variables/components/button/button-theme';

@import 'reset';
@import 'typo';

body {
  color: var(--brand-text-color);
  background-color: var(--brand-bg-color);

  transition: background-color 0.25s ease
}

.app {
  min-height: 100vh;
}

a {
  color: inherit;

  text-decoration: none;
}

/* Make sure images have an alt attribute */
img:not([alt]) {
  border: 5px dashed var(--brand-danger);
}
